In [1]:
# Add Matplotlib inline magic command
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file_dir='C://Users/Ian/Desktop/Misc_Projects/World_Cup_Analysis/Data'

import_matches1 = pd.read_csv(f'{file_dir}/wcmatches.csv')
import_matches2 = pd.read_csv(f'{file_dir}/WorldCupMatches.csv')
import_players = pd.read_csv(f'{file_dir}/WorldCupPlayers.csv')


pd.options.display.float_format = '{:.2f}'.format

In [3]:
import_matches1.head(30)

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday
5,1930,Uruguay,Montevideo,Group 1,Chile,Mexico,3,0,H,NaN,Chile,Mexico,1930-07-16,Jul,Wednesday
6,1930,Uruguay,Montevideo,Group 2,Bolivia,Yugoslavia,0,4,A,NaN,Yugoslavia,Bolivia,1930-07-17,Jul,Thursday
7,1930,Uruguay,Montevideo,Group 4,Paraguay,United States,0,3,A,NaN,United States,Paraguay,1930-07-17,Jul,Thursday
8,1930,Uruguay,Montevideo,Group 3,Uruguay,Peru,1,0,H,NaN,Uruguay,Peru,1930-07-18,Jul,Friday
9,1930,Uruguay,Montevideo,Group 1,Argentina,Mexico,6,3,H,NaN,Argentina,Mexico,1930-07-19,Jul,Saturday
10,1930,Uruguay,Montevideo,Group 1,Chile,France,1,0,H,NaN,Chile,France,1930-07-19,Jul,Saturday
11,1930,Uruguay,Montevideo,Group 4,Belgium,Paraguay,0,1,A,NaN,Paraguay,Belgium,1930-07-20,Jul,Sunday
12,1930,Uruguay,Montevideo,Group 2,Bolivia,Brazil,0,4,A,NaN,Brazil,Bolivia,1930-07-20,Jul,Sunday
13,1930,Uruguay,Montevideo,Group 3,Uruguay,Romania,4,0,H,NaN,Uruguay,Romania,1930-07-21,Jul,Monday
14,1930,Uruguay,Montevideo,Group 1,Argentina,Chile,3,1,H,NaN,Argentina,Chile,1930-07-22,Jul,Tuesday
15,1930,Uruguay,Montevideo,Semifinals,Argentina,United States,6,1,H,NaN,Argentina,United States,1930-07-26,Jul,Saturday
16,1930,Uruguay,Montevideo,Semifinals,Uruguay,Yugoslavia,6,1,H,NaN,Uruguay,Yugoslavia,1930-07-27,Jul,Sunday
17,1930,Uruguay,Montevideo,Final,Uruguay,Argentina,4,2,H,NaN,Uruguay,Argentina,1930-07-30,Jul,Wednesday
18,1934,Italy,Bologna,Round of 16,Argentina,Sweden,2,3,A,NaN,Sweden,Argentina,1934-05-27,May,Sunday
19,1934,Italy,Turin,Round of 16,Austria,France,3,2,H,Austria won in AET,Austria,France,1934-05-27,May,Sunday
20,1934,Italy,Florence,Round of 16,Belgium,Germany,2,5,A,NaN,Germany,Belgium,1934-05-27,May,Sunday
21,1934,Italy,Genoa,Round of 16,Brazil,Spain,1,3,A,NaN,Spain,Brazil,1934-05-27,May,Sunday
22,1934,Italy,Trieste,Round of 16,Czechoslovakia,Romania,2,1,H,NaN,Czechoslovakia,Romania,1934-05-27,May,Sunday
23,1934,Italy,Naples,Round of 16,Egypt,Hungary,2,4,A,NaN,Hungary,Egypt,1934-05-27,May,Sunday
24,1934,Italy,Rome,Round of 16,Italy,United States,7,1,H,NaN,Italy,United States,1934-05-27,May,Sunday
25,1934,Italy,Milan,Round of 16,Netherlands,Switzerland,2,3,A,NaN,Switzerland,Netherlands,1934-05-27,May,Sunday
26,1934,Italy,Bologna,Quarterfinals,Austria,Hungary,2,1,H,NaN,Austria,Hungary,1934-05-31,May,Thursday
27,1934,Italy,Turin,Quarterfinals,Czechoslovakia,Switzerland,3,2,H,NaN,Czechoslovakia,Switzerland,1934-05-31,May,Thursday
28,1934,Italy,Milan,Quarterfinals,Germany,Sweden,2,1,H,NaN,Germany,Sweden,1934-05-31,May,Thursday
29,1934,Italy,Florence,Quarterfinals,Italy,Spain,1,1,D,NaN,NaN,NaN,1934-05-31,May,Thursday

In [4]:
import_matches1.describe()

         year  home_score  away_score
count  900.00      900.00      900.00
mean  1986.92        1.57        1.26
std     23.15        1.49        1.31
min   1930.00        0.00        0.00
25%   1970.00        0.00        0.00
50%   1990.00        1.00        1.00
75%   2006.00        2.00        2.00
max   2018.00       10.00        8.00

In [5]:
import_matches2.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.00,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,4444.00,3.00,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX
1,1930.00,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,18346.00,2.00,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL
2,1930.00,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,24059.00,2.00,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA
3,1930.00,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,2549.00,1.00,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER
4,1930.00,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,23409.00,0.00,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA

In [6]:
import_matches2.tail()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import_matches2.describe()

,Year,Home Team Goals,Away Team Goals,Attendance,Half-time Home Goals,Half-time Away Goals,RoundID,MatchID
count,852.00,852.00,852.00,850.00,852.00,852.00,852.00,852.00
mean,1985.09,1.81,1.02,45164.80,0.71,0.43,10661772.59,61346867.55
std,22.45,1.61,1.09,23485.25,0.94,0.69,27296131.70,111057171.67
min,1930.00,0.00,0.00,2000.00,0.00,0.00,201.00,25.00
25%,1970.00,1.00,0.00,30000.00,0.00,0.00,262.00,1188.75
50%,1990.00,2.00,1.00,41579.50,0.00,0.00,337.00,2191.00
75%,2002.00,3.00,2.00,61374.50,1.00,1.00,249722.00,43950059.25
max,2014.00,10.00,7.00,173850.00,6.00,5.00,97410600.00,300186515.00

In [8]:
import_matches2.dropna(how='all')

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.00,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,4444.00,3.00,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX
1,1930.00,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,18346.00,2.00,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL
2,1930.00,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,24059.00,2.00,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA
3,1930.00,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,2549.00,1.00,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER
4,1930.00,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,23409.00,0.00,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,2014.00,05 Jul 2014 - 17:00,Quarter-finals,Arena Fonte Nova,Salvador,Netherlands,0.00,0.00,Costa Rica,Netherlands win on penalties (4 - 3),51179.00,0.00,0.00,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255953.00,300186488.00,NED,CRC
848,2014.00,08 Jul 2014 - 17:00,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1.00,7.00,Germany,,58141.00,0.00,5.00,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955.00,300186474.00,BRA,GER
849,2014.00,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0.00,0.00,Argentina,Argentina win on penalties (2 - 4),63267.00,0.00,0.00,Cneyt AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955.00,300186490.00,NED,ARG
850,2014.00,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0.00,3.00,Netherlands,,68034.00,0.00,2.00,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957.00,300186502.00,BRA,NED
851,2014.00,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.00,0.00,Argentina,Germany win after extra time,74738.00,0.00,0.00,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.00,300186501.00,GER,ARG

In [9]:
import_players.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN

In [10]:
import_matches1.dtypes

year               int64
country           object
city              object
stage             object
home_team         object
away_team         object
home_score         int64
away_score         int64
outcome           object
win_conditions    object
winning_team      object
losing_team       object
date              object
month             object
dayofweek         object
dtype: object

In [11]:
import_matches2.dtypes

Year                    float64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals         float64
Away Team Goals         float64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals    float64
Half-time Away Goals    float64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                 float64
MatchID                 float64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [12]:
# # Columns to import
# columns_to_keep = [etl_matches1['date'],
#                    etl_matches1['year'],
#                    etl_matches1['country'],
#                    etl_matches1['city'],
#                    etl_matches1['Stadium'],
#                    etl_matches1['Attendance'],
#                    etl_matches1['stage'],
#                    etl_matches1['home_team'],
#                    etl_matches1['Home Team Name'],
#                    etl_matches1['Home Team Initials'],
#                    etl_matches1['away_team'],
#                    etl_matches1['Away Team Initials'],
#                    etl_matches1['home_score'],
#                    etl_matches1['away_score'],
#                    etl_matches1['Half-time Home Goals'],
#                    etl_matches1['Half-time Away Goals'],
#                    etl_matches1['MatchID'],
#                    etl_matches1['RoundID']
# ]

# Join dataframes based on the winning teams, as the rows are misaligned currently

## Get a winning team column in import_matches2

In [13]:
# Find winning team in matches2 based on which team scored more goals
def winner(row):
    home_name = row['Home Team Name']
    if row['Home Team Goals']>row['Away Team Goals']:
        return row['Home Team Name']
    if row['Away Team Goals']>row['Home Team Goals']:
        return row['Away Team Name']
    return f'Draw: {home_name}'

In [14]:
# Apply the function to create a new column referencing each match winner
import_matches2['Winning Team'] = import_matches2.apply(lambda row: winner(row), axis=1)

In [15]:
# Verify with Italy/Spain index 28
import_matches2.head(30)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Winning Team
0,1930.00,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,...,3.00,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX,France
1,1930.00,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,...,2.00,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL,USA
2,1930.00,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,...,2.00,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA,Yugoslavia
3,1930.00,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,...,1.00,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER,Romania
4,1930.00,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,...,0.00,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA,Argentina
5,1930.00,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.00,0.00,Mexico,,...,1.00,0.00,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.00,1095.00,CHI,MEX,Chile
6,1930.00,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.00,0.00,Bolivia,,...,0.00,0.00,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.00,1092.00,YUG,BOL,Yugoslavia
7,1930.00,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Paraguay,,...,2.00,0.00,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201.00,1097.00,USA,PAR,USA
8,1930.00,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1.00,0.00,Peru,,...,0.00,0.00,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201.00,1099.00,URU,PER,Uruguay
9,1930.00,19 Jul 1930 - 12:50,Group 1,Estadio Centenario,Montevideo,Chile,1.00,0.00,France,,...,0.00,0.00,TEJADA Anibal (URU),LOMBARDI Domingo (URU),REGO Gilberto (BRA),201.00,1094.00,CHI,FRA,Chile
10,1930.00,19 Jul 1930 - 15:00,Group 1,Estadio Centenario,Montevideo,Argentina,6.00,3.00,Mexico,,...,3.00,1.00,SAUCEDO Ulises (BOL),ALONSO Gualberto (URU),RADULESCU Constantin (ROU),201.00,1086.00,ARG,MEX,Argentina
11,1930.00,20 Jul 1930 - 13:00,Group 2,Estadio Centenario,Montevideo,Brazil,4.00,0.00,Bolivia,,...,1.00,0.00,BALWAY Thomas (FRA),MATEUCCI Francisco (URU),VALLEJO Gaspar (MEX),201.00,1091.00,BRA,BOL,Brazil
12,1930.00,20 Jul 1930 - 15:00,Group 4,Estadio Centenario,Montevideo,Paraguay,1.00,0.00,Belgium,,...,1.00,0.00,VALLARINO Ricardo (URU),MACIAS Jose (ARG),LOMBARDI Domingo (URU),201.00,1089.00,PAR,BEL,Paraguay
13,1930.00,21 Jul 1930 - 14:50,Group 3,Estadio Centenario,Montevideo,Uruguay,4.00,0.00,Romania,,...,4.00,0.00,REGO Gilberto (BRA),WARNKEN Alberto (CHI),SAUCEDO Ulises (BOL),201.00,1100.00,URU,ROU,Uruguay
14,1930.00,22 Jul 1930 - 14:45,Group 1,Estadio Centenario,Montevideo,Argentina,3.00,1.00,Chile,,...,2.00,1.00,LANGENUS Jean (BEL),CRISTOPHE Henry (BEL),SAUCEDO Ulises (BOL),201.00,1084.00,ARG,CHI,Argentina
15,1930.00,26 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Argentina,6.00,1.00,USA,,...,1.00,0.00,LANGENUS Jean (BEL),VALLEJO Gaspar (MEX),WARNKEN Alberto (CHI),202.00,1088.00,ARG,USA,Argentina
16,1930.00,27 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Uruguay,6.00,1.00,Yugoslavia,,...,3.00,1.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),BALWAY Thomas (FRA),202.00,1101.00,URU,YUG,Uruguay
17,1930.00,30 Jul 1930 - 14:15,Final,Estadio Centenario,Montevideo,Uruguay,4.00,2.00,Argentina,,...,1.00,2.00,LANGENUS Jean (BEL),SAUCEDO Ulises (BOL),CRISTOPHE Henry (BEL),405.00,1087.00,URU,ARG,Uruguay
18,1934.00,27 May 1934 - 16:30,Preliminary round,Stadio Benito Mussolini,Turin,Austria,3.00,2.00,France,Austria win after extra time,...,0.00,0.00,VAN MOORSEL Johannes (NED),CAIRONI Camillo (ITA),BAERT Louis (BEL),204.00,1104.00,AUT,FRA,Austria
19,1934.00,27 May 1934 - 16:30,Preliminary round,Giorgio Ascarelli,Naples,Hungary,4.00,2.00,Egypt,,...,2.00,2.00,BARLASSINA Rinaldo (ITA),DATTILO Generoso (ITA),SASSI Otello (ITA),204.00,1119.00,HUN,EGY,Hungary
20,1934.00,27 May 1934 - 16:30,Preliminary round,San Siro,Milan,Switzerland,3.00,2.00,Netherlands,,...,2.00,1.00,EKLIND Ivan (SWE),BERANEK Alois (AUT),BONIVENTO Ferruccio (ITA),204.00,1133.00,SUI,NED,Switzerland
21,1934.00,27 May 1934 - 16:30,Preliminary round,Littorale,Bologna,Sweden,3.00,2.00,Argentina,,...,1.00,1.00,BRAUN Eugen (AUT),CARRARO Albino (ITA),TURBIANI Giuseppe (ITA),204.00,1102.00,SWE,ARG,Sweden
22,1934.00,27 May 1934 - 16:30,Preliminary round,Giovanni Berta,Florence,Germany,5.00,2.00,Belgium,,...,1.00,2.00,MATTEA Francesco (ITA),MELANDRI Ermenegildo (ITA),BAERT Jacques (FRA),204.00,1108.00,GER,BEL,Germany
23,1934.00,27 May 1934 - 16:30,Preliminary round,Luigi Ferraris,Genoa,Spain,3.00,1.00,Brazil,,...,3.00,0.00,BIRLEM Alfred (GER),CARMINATI Ettore (ITA),IVANCSICS Mihaly (HUN),204.00,1111.00,ESP,BRA,Spain
24,1934.00,27 May 1934 - 16:30,Preliminary round,Nazionale PNF,Rome,Italy,7.00,1.00,USA,,...,3.00,0.00,MERCET Rene (SUI),ESCARTIN Pedro (ESP),ZENISEK Bohumil (TCH),204.00,1135.00,ITA,USA,Italy
25,1934.00,27 May 1934 - 16:30,Preliminary round,Littorio,Trieste,Czechoslovakia,2.00,1.00,Romania,,...,0.00,1.00,LANGENUS Jean (BEL),SCARPI Giuseppe (ITA),SCORZONI Raffaele (ITA),204.00,1141.00,TCH,ROU,Czechoslovakia
26,1934.00,31 May 1934 - 16:30,Quarter-finals,Stadio Benito Mussolini,Turin,Czechoslovakia,3.00,2.00,Switzerland,,...,1.00,1.00,BERANEK Alois (AUT),MOHAMED Youssuf (EGY),BAERT Jacques (FRA),418.00,1143.00,TCH,SUI,Czechoslovakia
27,1934.00,31 May 1934 - 16:30,Quarter-finals,San Siro,Milan,Germany,2.00,1.00,Sweden,,...,0.00,0.00,BARLASSINA Rinaldo (ITA),MERCET Rene (SUI),VAN MOORSEL Johannes (NED),418.00,1129.00,GER,SWE,Germany
28,1934.00,31 May 1934 - 16:30,Quarter-finals,Giovanni Berta,Florence,Italy,1.00,1.00,Spain,,...,0.00,0.00,BAERT Louis (BEL),ZENISEK Bohumil (TCH),IVANCSICS Mihaly (HUN),418.00,1122.00,ITA,ESP,Draw: Italy
29,1934.00,31 May 1934 - 16:30,Quarter-finals,Littorale,Bologna,Austria,2.00,1.00,Hungary,,...,1.00,0.00,MATTEA Francesco (ITA),ESCARTIN Pedro (ESP),BIRLEM Alfred (GER),418.00,1106.00,AUT,HUN,Austria

## Reformat the winning_team column in import_matches1

In [16]:
# Verify it's only 'home', 'away' and 'draw'
import_matches1['outcome'].unique()

array(['H', 'A', 'D'], dtype=object)

In [17]:
import_matches3 = import_matches1.loc[import_matches1['outcome']=='D']

In [18]:
import_matches3.head()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
29,1934,Italy,Florence,Quarterfinals,Italy,Spain,1,1,D,NaN,NaN,NaN,1934-05-31,May,Thursday
35,1938,France,Paris,Round of 16,Germany,Switzerland,1,1,D,NaN,NaN,NaN,1938-06-04,Jun,Saturday
37,1938,France,Toulouse,Round of 16,Cuba,Romania,3,3,D,NaN,NaN,NaN,1938-06-05,Jun,Sunday
44,1938,France,Bordeaux,Quarterfinals,Brazil,Czechoslovakia,1,1,D,NaN,NaN,NaN,1938-06-12,Jun,Sunday
58,1950,Brazil,So Paulo,Group 1,Brazil,Switzerland,2,2,D,NaN,NaN,NaN,1950-06-28,Jun,Wednesday

In [19]:
# Create functions to adjust 'winning_team' and 'losing_team' column formats to match 'Winning Team' format from previous table
# Doing for both winning_team and losing_team since the dataframes don't always agree which team is home/away
def draw_home(row):
    home_name = row['home_team']
    return f'Draw: {home_name}'

def draw_away(row):
    away_team = row['away_team']
    return f'Draw: {away_team}'

In [20]:
# Apply both functions to all of the draw results, claiming 'home' as the winner for eventual merge of tables
import_matches3['winning_team'] = import_matches3.apply(lambda row: draw_home(row), axis=1)

import_matches3['losing_team'] = import_matches3.apply(lambda row: draw_away(row), axis=1)

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [21]:
# Verify the format is the same as import_matches3['Winning Team']
import_matches3

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
29,1934,Italy,Florence,Quarterfinals,Italy,Spain,1,1,D,NaN,Draw: Italy,Draw: Spain,1934-05-31,May,Thursday
35,1938,France,Paris,Round of 16,Germany,Switzerland,1,1,D,NaN,Draw: Germany,Draw: Switzerland,1938-06-04,Jun,Saturday
37,1938,France,Toulouse,Round of 16,Cuba,Romania,3,3,D,NaN,Draw: Cuba,Draw: Romania,1938-06-05,Jun,Sunday
44,1938,France,Bordeaux,Quarterfinals,Brazil,Czechoslovakia,1,1,D,NaN,Draw: Brazil,Draw: Czechoslovakia,1938-06-12,Jun,Sunday
58,1950,Brazil,So Paulo,Group 1,Brazil,Switzerland,2,2,D,NaN,Draw: Brazil,Draw: Switzerland,1950-06-28,Jun,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,2018,Russia,Ekaterinburg,Group H,Japan,Senegal,2,2,D,NaN,Draw: Japan,Draw: Senegal,2018-06-24,Jun,Sunday
870,2018,Russia,Kaliningrad,Group B,Spain,Morocco,2,2,D,NaN,Draw: Spain,Draw: Morocco,2018-06-25,Jun,Monday
871,2018,Russia,Saransk,Group B,Iran,Portugal,1,1,D,NaN,Draw: Iran,Draw: Portugal,2018-06-25,Jun,Monday
873,2018,Russia,Moscow,Group C,Denmark,France,0,0,D,NaN,Draw: Denmark,Draw: France,2018-06-26,Jun,Tuesday
879,2018,Russia,Nizhny Novgorod,Group E,Switzerland,Costa Rica,2,2,D,NaN,Draw: Switzerland,Draw: Costa Rica,2018-06-27,Jun,Wednesday

In [22]:
# Create a new copy of import_matches1 to write over the null winning/losing teams
import_matches4 = import_matches1.copy()

In [23]:
# Write over the 'draw' results with new winning/losing team values from import_matches3
import_matches4['winning_team'].loc[import_matches1['outcome']=='D'] = import_matches3['winning_team']
import_matches4['losing_team'].loc[import_matches1['outcome']=='D'] = import_matches3['losing_team']

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [24]:
# Verify with Italy/Spain index 29
import_matches4.head(30)

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday
5,1930,Uruguay,Montevideo,Group 1,Chile,Mexico,3,0,H,NaN,Chile,Mexico,1930-07-16,Jul,Wednesday
6,1930,Uruguay,Montevideo,Group 2,Bolivia,Yugoslavia,0,4,A,NaN,Yugoslavia,Bolivia,1930-07-17,Jul,Thursday
7,1930,Uruguay,Montevideo,Group 4,Paraguay,United States,0,3,A,NaN,United States,Paraguay,1930-07-17,Jul,Thursday
8,1930,Uruguay,Montevideo,Group 3,Uruguay,Peru,1,0,H,NaN,Uruguay,Peru,1930-07-18,Jul,Friday
9,1930,Uruguay,Montevideo,Group 1,Argentina,Mexico,6,3,H,NaN,Argentina,Mexico,1930-07-19,Jul,Saturday
10,1930,Uruguay,Montevideo,Group 1,Chile,France,1,0,H,NaN,Chile,France,1930-07-19,Jul,Saturday
11,1930,Uruguay,Montevideo,Group 4,Belgium,Paraguay,0,1,A,NaN,Paraguay,Belgium,1930-07-20,Jul,Sunday
12,1930,Uruguay,Montevideo,Group 2,Bolivia,Brazil,0,4,A,NaN,Brazil,Bolivia,1930-07-20,Jul,Sunday
13,1930,Uruguay,Montevideo,Group 3,Uruguay,Romania,4,0,H,NaN,Uruguay,Romania,1930-07-21,Jul,Monday
14,1930,Uruguay,Montevideo,Group 1,Argentina,Chile,3,1,H,NaN,Argentina,Chile,1930-07-22,Jul,Tuesday
15,1930,Uruguay,Montevideo,Semifinals,Argentina,United States,6,1,H,NaN,Argentina,United States,1930-07-26,Jul,Saturday
16,1930,Uruguay,Montevideo,Semifinals,Uruguay,Yugoslavia,6,1,H,NaN,Uruguay,Yugoslavia,1930-07-27,Jul,Sunday
17,1930,Uruguay,Montevideo,Final,Uruguay,Argentina,4,2,H,NaN,Uruguay,Argentina,1930-07-30,Jul,Wednesday
18,1934,Italy,Bologna,Round of 16,Argentina,Sweden,2,3,A,NaN,Sweden,Argentina,1934-05-27,May,Sunday
19,1934,Italy,Turin,Round of 16,Austria,France,3,2,H,Austria won in AET,Austria,France,1934-05-27,May,Sunday
20,1934,Italy,Florence,Round of 16,Belgium,Germany,2,5,A,NaN,Germany,Belgium,1934-05-27,May,Sunday
21,1934,Italy,Genoa,Round of 16,Brazil,Spain,1,3,A,NaN,Spain,Brazil,1934-05-27,May,Sunday
22,1934,Italy,Trieste,Round of 16,Czechoslovakia,Romania,2,1,H,NaN,Czechoslovakia,Romania,1934-05-27,May,Sunday
23,1934,Italy,Naples,Round of 16,Egypt,Hungary,2,4,A,NaN,Hungary,Egypt,1934-05-27,May,Sunday
24,1934,Italy,Rome,Round of 16,Italy,United States,7,1,H,NaN,Italy,United States,1934-05-27,May,Sunday
25,1934,Italy,Milan,Round of 16,Netherlands,Switzerland,2,3,A,NaN,Switzerland,Netherlands,1934-05-27,May,Sunday
26,1934,Italy,Bologna,Quarterfinals,Austria,Hungary,2,1,H,NaN,Austria,Hungary,1934-05-31,May,Thursday
27,1934,Italy,Turin,Quarterfinals,Czechoslovakia,Switzerland,3,2,H,NaN,Czechoslovakia,Switzerland,1934-05-31,May,Thursday
28,1934,Italy,Milan,Quarterfinals,Germany,Sweden,2,1,H,NaN,Germany,Sweden,1934-05-31,May,Thursday
29,1934,Italy,Florence,Quarterfinals,Italy,Spain,1,1,D,NaN,Draw: Italy,Draw: Spain,1934-05-31,May,Thursday

# 2nd step

In [25]:
import_matches5 = import_matches2.copy()

In [26]:
import_matches5['Datetime'] = pd.to_datetime(import_matches5['Datetime'])

In [27]:
# Alter the ['Datetime'] column in matches2 to match format of ['date'] in matches4
import_matches5['Datetime'] = import_matches5['Datetime'].dt.date

In [28]:
# Verify it matches import_matches4['date']
import_matches5.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Winning Team
0,1930.00,1930-07-13,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,...,3.00,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX,France
1,1930.00,1930-07-13,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,...,2.00,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL,USA
2,1930.00,1930-07-14,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,...,2.00,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA,Yugoslavia
3,1930.00,1930-07-14,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,...,1.00,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER,Romania
4,1930.00,1930-07-15,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,...,0.00,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA,Argentina

# Step 3 - Add Date to the 'Winning Team' column

In [29]:
import_matches6 = import_matches4.copy()

In [30]:
# Find winning team in matches2 based on which team scored more goals
def transform6(row):
    match_team = row['winning_team']
    match_date = row['date']
    return f'{match_team} on {match_date}'

In [31]:
import_matches6['join_column'] = import_matches6.apply(lambda row: transform6(row), axis=1)

In [32]:
import_matches6.head()

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek,join_column
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday,France on 1930-07-13
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday,United States on 1930-07-13
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday,Yugoslavia on 1930-07-14
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday,Romania on 1930-07-14
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday,Argentina on 1930-07-15

In [33]:
import_matches7 = import_matches5.copy()

In [34]:
def transform7(row):
    match_team = row['Winning Team']
    match_date = row['Datetime']
    return f'{match_team} on {match_date}'

In [35]:
import_matches7['Join_Column'] = import_matches7.apply(lambda row: transform7(row), axis=1)

In [36]:
import_matches7.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Winning Team,Join_Column
0,1930.00,1930-07-13,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,...,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX,France,France on 1930-07-13
1,1930.00,1930-07-13,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,...,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL,USA,USA on 1930-07-13
2,1930.00,1930-07-14,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,...,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA,Yugoslavia,Yugoslavia on 1930-07-14
3,1930.00,1930-07-14,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,...,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER,Romania,Romania on 1930-07-14
4,1930.00,1930-07-15,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,...,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA,Argentina,Argentina on 1930-07-15

# Join the tables and identify data that was corrupted

In [37]:
import_matches6 = import_matches6.set_index('join_column')
import_matches7 = import_matches7.set_index('Join_Column')

# Join on the previously transformed 'join column's
joined_df1 = import_matches7.join(import_matches6, how='left')

In [38]:
joined_df1 = joined_df1.dropna(how='all')

In [39]:
joined_df1

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
Algeria on 1982-06-16,1982.00,1982-06-16,Group 2,El Molinon,Gijon,Germany FR,1.00,2.00,Algeria,,...,Algeria,1.00,2.00,A,NaN,Algeria,West Germany,1982-06-16,Jun,Wednesday
Algeria on 1982-06-24,1982.00,1982-06-24,Group 2,Carlos Tartiere,Oviedo,Algeria,3.00,2.00,Chile,,...,Chile,3.00,2.00,H,NaN,Algeria,Chile,1982-06-24,Jun,Thursday
Algeria on 2014-06-22,2014.00,2014-06-22,Group H,Estadio Beira-Rio,Porto Alegre,Korea Republic,2.00,4.00,Algeria,,...,Algeria,2.00,4.00,A,NaN,Algeria,South Korea,2014-06-22,Jun,Sunday
Argentina on 1930-07-15,1930.00,1930-07-15,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,...,France,1.00,0.00,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday
Argentina on 1930-07-19,1930.00,1930-07-19,Group 1,Estadio Centenario,Montevideo,Argentina,6.00,3.00,Mexico,,...,Mexico,6.00,3.00,H,NaN,Argentina,Mexico,1930-07-19,Jul,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia on 1998-06-14,1998.00,1998-06-14,Group F,Stade Geoffroy Guichard,Saint-Etienne,Yugoslavia,1.00,0.00,Iran,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yugoslavia on 1998-06-25,1998.00,1998-06-25,Group F,La Beaujoire,Nantes,USA,0.00,1.00,Yugoslavia,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Bosnia and Herzegovina on 2014-06-25",2014.00,2014-06-25,Group F,Arena Fonte Nova,Salvador,"rn"">Bosnia and Herzegovina",3.00,1.00,IR Iran,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Republic of Ireland on 1994-06-18",1994.00,1994-06-18,Group E,Giants Stadium,New York/New Jersey,Italy,0.00,1.00,"rn"">Republic of Ireland",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Republic of Ireland on 2002-06-11",2002.00,2002-06-11,Group E,International Stadium Yokohama,Yokohama,Saudi Arabia,0.00,3.00,"rn"">Republic of Ireland",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
joined_df1.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials',
       'Winning Team', 'year', 'country', 'city', 'stage', 'home_team',
       'away_team', 'home_score', 'away_score', 'outcome', 'win_conditions',
       'winning_team', 'losing_team', 'date', 'month', 'dayofweek'],
      dtype='object')

In [41]:
joined_df1[['Home Team Name','home_team', 'Away Team Name','away_team']]

,Home Team Name,home_team,Away Team Name,away_team
Algeria on 1982-06-16,Germany FR,West Germany,Algeria,Algeria
Algeria on 1982-06-24,Algeria,Algeria,Chile,Chile
Algeria on 2014-06-22,Korea Republic,South Korea,Algeria,Algeria
Argentina on 1930-07-15,Argentina,Argentina,France,France
Argentina on 1930-07-19,Argentina,Argentina,Mexico,Mexico
...,...,...,...,...
Yugoslavia on 1998-06-14,Yugoslavia,NaN,Iran,NaN
Yugoslavia on 1998-06-25,USA,NaN,Yugoslavia,NaN
"rn"">Bosnia and Herzegovina on 2014-06-25","rn"">Bosnia and Herzegovina",NaN,IR Iran,NaN
"rn"">Republic of Ireland on 1994-06-18",Italy,NaN,"rn"">Republic of Ireland",NaN
"rn"">Republic of Ireland on 2002-06-11",Saudi Arabia,NaN,"rn"">Republic of Ireland",NaN

In [42]:
# Identify any rows where the Home Teams from both table do not sync up
joined_df2 = joined_df1.loc[(joined_df1['Home Team Name']!=joined_df1['home_team'])|(joined_df1['Away Team Name']!=joined_df1['away_team'])]

In [43]:
# View those rows to identify ways to transform data
joined_df2[['Home Team Name','home_team', 'Away Team Name','away_team', 'Home Team Goals','home_score','Away Team Goals','away_score','winning_team']]

,Home Team Name,home_team,Away Team Name,away_team,Home Team Goals,home_score,Away Team Goals,away_score,winning_team
Algeria on 1982-06-16,Germany FR,West Germany,Algeria,Algeria,1.00,1.00,2.00,2.00,Algeria
Algeria on 2014-06-22,Korea Republic,South Korea,Algeria,Algeria,2.00,2.00,4.00,4.00,Algeria
Argentina on 1930-07-26,Argentina,Argentina,USA,United States,6.00,6.00,1.00,1.00,Argentina
Argentina on 1986-06-02,Argentina,Argentina,Korea Republic,South Korea,3.00,3.00,1.00,1.00,Argentina
Argentina on 1986-06-29,Argentina,Argentina,Germany FR,West Germany,3.00,3.00,2.00,2.00,Argentina
...,...,...,...,...,...,...,...,...,...
Yugoslavia on 1998-06-14,Yugoslavia,NaN,Iran,NaN,1.00,NaN,0.00,NaN,NaN
Yugoslavia on 1998-06-25,USA,NaN,Yugoslavia,NaN,0.00,NaN,1.00,NaN,NaN
"rn"">Bosnia and Herzegovina on 2014-06-25","rn"">Bosnia and Herzegovina",NaN,IR Iran,NaN,3.00,NaN,1.00,NaN,NaN
"rn"">Republic of Ireland on 1994-06-18",Italy,NaN,"rn"">Republic of Ireland",NaN,0.00,NaN,1.00,NaN,NaN
"rn"">Republic of Ireland on 2002-06-11",Saudi Arabia,NaN,"rn"">Republic of Ireland",NaN,0.00,NaN,3.00,NaN,NaN

## Problem 1: Some rows have swapped home/away teams in import_matches6 and import_matches7

In [44]:
# Many rows have the home team and away teams swapped with each other
swapped_home_away_df = joined_df2.loc[joined_df2['Home Team Name']==joined_df2['away_team']]

In [45]:
# Those swapped rows are displayed -- show that the versions from import_matches7 should get switched
swapped_home_away_df[['Home Team Name','home_team', 'Away Team Name','away_team', 'Home Team Goals','home_score','Away Team Goals','away_score','winning_team']]

,Home Team Name,home_team,Away Team Name,away_team,Home Team Goals,home_score,Away Team Goals,away_score,winning_team
Austria on 1954-06-26,Austria,Switzerland,Switzerland,Austria,7.00,5.00,5.00,7.00,Austria
Brazil on 1930-07-20,Brazil,Bolivia,Bolivia,Brazil,4.00,0.00,0.00,4.00,Brazil
Brazil on 1958-06-08,Brazil,Austria,Austria,Brazil,3.00,0.00,0.00,3.00,Brazil
Brazil on 1958-06-29,Brazil,Sweden,Sweden,Brazil,5.00,2.00,2.00,5.00,Brazil
Brazil on 1962-06-13,Brazil,Chile,Chile,Brazil,4.00,2.00,2.00,4.00,Brazil
...,...,...,...,...,...,...,...,...,...
Yugoslavia on 1954-06-16,Yugoslavia,France,France,Yugoslavia,1.00,0.00,0.00,1.00,Yugoslavia
Yugoslavia on 1958-06-11,Yugoslavia,France,France,Yugoslavia,3.00,2.00,2.00,3.00,Yugoslavia
Yugoslavia on 1962-06-02,Yugoslavia,Uruguay,Uruguay,Yugoslavia,3.00,1.00,1.00,3.00,Yugoslavia
Yugoslavia on 1962-06-07,Yugoslavia,Colombia,Colombia,Yugoslavia,5.00,0.00,0.00,5.00,Yugoslavia
Yugoslavia on 1962-06-10,Yugoslavia,West Germany,Germany FR,Yugoslavia,1.00,0.00,0.00,1.00,Yugoslavia

In [46]:
# Create functions to swap the 4 home/away values imported from import_matches7
def swap_home_name(row):
    home_name = row['Home Team Name']
    return home_name

In [47]:
def swap_away_name(row):
    away_name = row['Away Team Name']
    return away_name

In [48]:
def swap_home_score(row):
    home_score = row['Home Team Goals']
    return home_score

In [49]:
def swap_away_score(row):
    away_score = row['Away Team Goals']
    return away_score

In [50]:
# Apply those 4 functions on the columns from import_matches7
swapped_home_away_df['home_team'] = swapped_home_away_df.apply(lambda row: swap_home_name(row), axis=1)
swapped_home_away_df['away_team'] = swapped_home_away_df.apply(lambda row: swap_away_name(row), axis=1)
swapped_home_away_df['home_score'] = swapped_home_away_df.apply(lambda row: swap_home_score(row), axis=1)
swapped_home_away_df['away_score'] = swapped_home_away_df.apply(lambda row: swap_away_score(row), axis=1)

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [51]:
# Verify the functions worked properly
swapped_home_away_df[['Home Team Name','home_team', 'Away Team Name','away_team', 'Home Team Goals','home_score','Away Team Goals','away_score','winning_team']].head()

,Home Team Name,home_team,Away Team Name,away_team,Home Team Goals,home_score,Away Team Goals,away_score,winning_team
Austria on 1954-06-26,Austria,Austria,Switzerland,Switzerland,7.00,7.00,5.00,5.00,Austria
Brazil on 1930-07-20,Brazil,Brazil,Bolivia,Bolivia,4.00,4.00,0.00,0.00,Brazil
Brazil on 1958-06-08,Brazil,Brazil,Austria,Austria,3.00,3.00,0.00,0.00,Brazil
Brazil on 1958-06-29,Brazil,Brazil,Sweden,Sweden,5.00,5.00,2.00,2.00,Brazil
Brazil on 1962-06-13,Brazil,Brazil,Chile,Chile,4.00,4.00,2.00,2.00,Brazil

In [52]:
# Go back to the joined_df2 and actually swap those columns
joined_df2.loc[joined_df2['Home Team Name']==joined_df2['away_team']] = swapped_home_away_df

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1884: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

In [53]:
# Verify there are no more columns where the Home Team from import_matches6 is considered the away_team in import_matches7
joined_df2.loc[joined_df2['Home Team Name']==joined_df2['away_team']]

Empty DataFrame
Columns: [Year, Datetime, Stage, Stadium, City, Home Team Name, Home Team Goals, Away Team Goals, Away Team Name, Win conditions, Attendance, Half-time Home Goals, Half-time Away Goals, Referee, Assistant 1, Assistant 2, RoundID, MatchID, Home Team Initials, Away Team Initials, Winning Team, year, country, city, stage, home_team, away_team, home_score, away_score, outcome, win_conditions, winning_team, losing_team, date, month, dayofweek]
Index: []

[0 rows x 36 columns]

# Problem 2: Some rows have different monikers for teams (i.e. USA vs United States)

In [54]:
# Make a new dataframe with rows where the Home Team names still don't match (and away teams still don't match)
joined_df3 = joined_df2.loc[(joined_df2['Home Team Name']!=joined_df2['home_team'])|(joined_df2['Away Team Name']!=joined_df2['away_team'])]

In [55]:
# Check the rows where names don't match
joined_df3[['Home Team Name','home_team', 'Away Team Name','away_team', 'Home Team Goals','home_score','Away Team Goals','away_score','winning_team']]

,Home Team Name,home_team,Away Team Name,away_team,Home Team Goals,home_score,Away Team Goals,away_score,winning_team
Algeria on 1982-06-16,Germany FR,West Germany,Algeria,Algeria,1.00,1.00,2.00,2.00,Algeria
Algeria on 2014-06-22,Korea Republic,South Korea,Algeria,Algeria,2.00,2.00,4.00,4.00,Algeria
Argentina on 1930-07-26,Argentina,Argentina,USA,United States,6.00,6.00,1.00,1.00,Argentina
Argentina on 1986-06-02,Argentina,Argentina,Korea Republic,South Korea,3.00,3.00,1.00,1.00,Argentina
Argentina on 1986-06-29,Argentina,Argentina,Germany FR,West Germany,3.00,3.00,2.00,2.00,Argentina
...,...,...,...,...,...,...,...,...,...
Yugoslavia on 1998-06-14,Yugoslavia,NaN,Iran,NaN,1.00,NaN,0.00,NaN,NaN
Yugoslavia on 1998-06-25,USA,NaN,Yugoslavia,NaN,0.00,NaN,1.00,NaN,NaN
"rn"">Bosnia and Herzegovina on 2014-06-25","rn"">Bosnia and Herzegovina",NaN,IR Iran,NaN,3.00,NaN,1.00,NaN,NaN
"rn"">Republic of Ireland on 1994-06-18",Italy,NaN,"rn"">Republic of Ireland",NaN,0.00,NaN,1.00,NaN,NaN
"rn"">Republic of Ireland on 2002-06-11",Saudi Arabia,NaN,"rn"">Republic of Ireland",NaN,0.00,NaN,3.00,NaN,NaN

In [56]:
# Identify how many rows that are not null
joined_df3.notnull().sum()

Year                     209
Datetime                 209
Stage                    209
Stadium                  209
City                     209
Home Team Name           209
Home Team Goals          209
Away Team Goals          209
Away Team Name           209
Win conditions           209
Attendance               209
Half-time Home Goals     209
Half-time Away Goals     209
Referee                  209
Assistant 1              209
Assistant 2              209
RoundID                  209
MatchID                  209
Home Team Initials       209
Away Team Initials       209
Winning Team            3929
year                      79
country                   79
city                      79
stage                     79
home_team                 79
away_team                 79
home_score                79
away_score                79
outcome                   79
win_conditions             4
winning_team              79
losing_team               79
date                      79
month                     79
dayofweek                 79
dtype: int64

In [57]:
not_null_df = joined_df3.loc[joined_df3['away_score'].notnull()]

not_null_df

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
Algeria on 1982-06-16,1982.00,1982-06-16,Group 2,El Molinon,Gijon,Germany FR,1.00,2.00,Algeria,,...,Algeria,1.00,2.00,A,NaN,Algeria,West Germany,1982-06-16,Jun,Wednesday
Algeria on 2014-06-22,2014.00,2014-06-22,Group H,Estadio Beira-Rio,Porto Alegre,Korea Republic,2.00,4.00,Algeria,,...,Algeria,2.00,4.00,A,NaN,Algeria,South Korea,2014-06-22,Jun,Sunday
Argentina on 1930-07-26,1930.00,1930-07-26,Semi-finals,Estadio Centenario,Montevideo,Argentina,6.00,1.00,USA,,...,United States,6.00,1.00,H,NaN,Argentina,United States,1930-07-26,Jul,Saturday
Argentina on 1986-06-02,1986.00,1986-06-02,Group A,Estadio Olmpico Universitario,Mexico City,Argentina,3.00,1.00,Korea Republic,,...,South Korea,3.00,1.00,H,NaN,Argentina,South Korea,1986-06-02,Jun,Monday
Argentina on 1986-06-29,1986.00,1986-06-29,Final,Estadio Azteca,Mexico City,Argentina,3.00,2.00,Germany FR,,...,West Germany,3.00,2.00,H,NaN,Argentina,West Germany,1986-06-29,Jun,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Switzerland on 2006-06-23,2006.00,2006-06-23,Group G,"FIFA World Cup Stadium, Hanover",Hanover,Switzerland,2.00,0.00,Korea Republic,,...,South Korea,2.00,0.00,H,NaN,Switzerland,South Korea,2006-06-23,Jun,Friday
Turkey on 2002-06-29,2002.00,2002-06-29,Third place,Daegu World Cup Stadium,Daegu,Korea Republic,2.00,3.00,Turkey,,...,Turkey,2.00,3.00,A,NaN,Turkey,South Korea,2002-06-29,Jun,Saturday
Uruguay on 1990-06-21,1990.00,1990-06-21,Group E,Friuli,Udine,Korea Republic,0.00,1.00,Uruguay,,...,Uruguay,0.00,1.00,A,NaN,Uruguay,South Korea,1990-06-21,Jun,Thursday
Uruguay on 2010-06-26,2010.00,2010-06-26,Round of 16,Port Elizabeth Stadium,Nelson Mandela Bay/Port Elizabeth,Uruguay,2.00,1.00,Korea Republic,,...,South Korea,2.00,1.00,H,NaN,Uruguay,South Korea,2010-06-26,Jun,Saturday
Yugoslavia on 1990-06-19,1990.00,1990-06-19,Group D,Renato Dall Ara,Bologna,Yugoslavia,4.00,1.00,"rn"">United Arab Emirates",,...,United Arab Emirates,4.00,1.00,H,NaN,Yugoslavia,United Arab Emirates,1990-06-19,Jun,Tuesday

In [58]:
# Limit to only rows with problematic home teams so we can see the problem clearer
not_null_df_home = not_null_df.loc[not_null_df['Home Team Name']!=not_null_df['home_team']]

In [59]:
# The version from import_matches7 is better (UAE, Cote d'Ivoire etc aren't messed up)
not_null_df_home[['Home Team Name','home_team']]

                                         Home Team Name             home_team
Algeria on 1982-06-16                        Germany FR          West Germany
Algeria on 2014-06-22                    Korea Republic           South Korea
Belgium on 2014-06-26                    Korea Republic           South Korea
Colombia on 1990-06-09         rn">United Arab Emirates  United Arab Emirates
Czech Republic on 2006-06-12                        USA         United States
Czechoslovakia on 1990-06-10                        USA         United States
Germany on 2014-06-26                               USA         United States
Ghana on 2010-06-26                                 USA         United States
Iran on 1998-06-21                                  USA         United States
Italy on 1986-06-10                      Korea Republic           South Korea
Mexico on 1998-06-13                     Korea Republic           South Korea
Netherlands on 1974-06-30                     German DR          East Germany
Netherlands on 2006-06-11     rn">Serbia and Montenegro                Serbia
Romania on 1994-06-26                               USA         United States
Spain on 1990-06-17                      Korea Republic           South Korea
Turkey on 2002-06-29                     Korea Republic           South Korea
Uruguay on 1990-06-21                    Korea Republic           South Korea

In [60]:
def home_name_typo(row):
    home_true = row['home_team']
    home_false = row['Home Team Name']
    return home_true

In [61]:
not_null_df['Home Team Name'] = not_null_df.apply(lambda row: home_name_typo(row), axis=1)

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
def away_name_typo(row):
    away_true = row['away_team']
    away_false = row['Away Team Name']
    return away_true

In [63]:
not_null_df['Away Team Name'] = not_null_df.apply(lambda row: away_name_typo(row), axis=1)

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
# Verify there are no more rows where the home names or away names don't line up
not_null_df.loc[(not_null_df['Home Team Name']!=not_null_df['home_team'])|(not_null_df['Away Team Name']!=not_null_df['away_team'])]

Empty DataFrame
Columns: [Year, Datetime, Stage, Stadium, City, Home Team Name, Home Team Goals, Away Team Goals, Away Team Name, Win conditions, Attendance, Half-time Home Goals, Half-time Away Goals, Referee, Assistant 1, Assistant 2, RoundID, MatchID, Home Team Initials, Away Team Initials, Winning Team, year, country, city, stage, home_team, away_team, home_score, away_score, outcome, win_conditions, winning_team, losing_team, date, month, dayofweek]
Index: []

[0 rows x 36 columns]

In [65]:
joined_df3.loc[joined_df3['away_score'].notnull()] = not_null_df

C:\Users\Ian\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1884: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

In [66]:
joined_df3.dropna(how='all')

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
Algeria on 1982-06-16,1982.00,1982-06-16,Group 2,El Molinon,Gijon,West Germany,1.00,2.00,Algeria,,...,Algeria,1.00,2.00,A,NaN,Algeria,West Germany,1982-06-16,Jun,Wednesday
Algeria on 2014-06-22,2014.00,2014-06-22,Group H,Estadio Beira-Rio,Porto Alegre,South Korea,2.00,4.00,Algeria,,...,Algeria,2.00,4.00,A,NaN,Algeria,South Korea,2014-06-22,Jun,Sunday
Argentina on 1930-07-26,1930.00,1930-07-26,Semi-finals,Estadio Centenario,Montevideo,Argentina,6.00,1.00,United States,,...,United States,6.00,1.00,H,NaN,Argentina,United States,1930-07-26,Jul,Saturday
Argentina on 1986-06-02,1986.00,1986-06-02,Group A,Estadio Olmpico Universitario,Mexico City,Argentina,3.00,1.00,South Korea,,...,South Korea,3.00,1.00,H,NaN,Argentina,South Korea,1986-06-02,Jun,Monday
Argentina on 1986-06-29,1986.00,1986-06-29,Final,Estadio Azteca,Mexico City,Argentina,3.00,2.00,West Germany,,...,West Germany,3.00,2.00,H,NaN,Argentina,West Germany,1986-06-29,Jun,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia on 1998-06-14,1998.00,1998-06-14,Group F,Stade Geoffroy Guichard,Saint-Etienne,Yugoslavia,1.00,0.00,Iran,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yugoslavia on 1998-06-25,1998.00,1998-06-25,Group F,La Beaujoire,Nantes,USA,0.00,1.00,Yugoslavia,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Bosnia and Herzegovina on 2014-06-25",2014.00,2014-06-25,Group F,Arena Fonte Nova,Salvador,"rn"">Bosnia and Herzegovina",3.00,1.00,IR Iran,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Republic of Ireland on 1994-06-18",1994.00,1994-06-18,Group E,Giants Stadium,New York/New Jersey,Italy,0.00,1.00,"rn"">Republic of Ireland",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Republic of Ireland on 2002-06-11",2002.00,2002-06-11,Group E,International Stadium Yokohama,Yokohama,Saudi Arabia,0.00,3.00,"rn"">Republic of Ireland",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
joined_df3.loc[(joined_df3['Home Team Name']!=joined_df3['home_team'])|(joined_df3['Away Team Name']!=joined_df3['away_team'])]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
Cte d'Ivoire on 2006-06-21,2006.00,2006-06-21,Group C,"FIFA World Cup Stadium, Munich",Munich,Cte d'Ivoire,3.00,2.00,"rn"">Serbia and Montenegro",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cte d'Ivoire on 2010-06-25,2010.00,2010-06-25,Group G,Mbombela Stadium,Nelspruit,Korea DPR,0.00,3.00,Cte d'Ivoire,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cte d'Ivoire on 2014-06-14,2014.00,2014-06-14,Group C,Arena Pernambuco,Recife,Cte d'Ivoire,2.00,1.00,Japan,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Draw: Argentina on 1998-06-30,1998.00,1998-06-30,Round of 16,Stade Geoffroy Guichard,Saint-Etienne,Argentina,2.00,2.00,England,Argentina win on penalties (4 - 3),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Draw: Brazil on 1986-06-21,1986.00,1986-06-21,Quarter-finals,Jalisco,Guadalajara,Brazil,1.00,1.00,France,France win on penalties (3 - 4),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia on 1998-06-14,1998.00,1998-06-14,Group F,Stade Geoffroy Guichard,Saint-Etienne,Yugoslavia,1.00,0.00,Iran,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yugoslavia on 1998-06-25,1998.00,1998-06-25,Group F,La Beaujoire,Nantes,USA,0.00,1.00,Yugoslavia,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Bosnia and Herzegovina on 2014-06-25",2014.00,2014-06-25,Group F,Arena Fonte Nova,Salvador,"rn"">Bosnia and Herzegovina",3.00,1.00,IR Iran,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Republic of Ireland on 1994-06-18",1994.00,1994-06-18,Group E,Giants Stadium,New York/New Jersey,Italy,0.00,1.00,"rn"">Republic of Ireland",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Republic of Ireland on 2002-06-11",2002.00,2002-06-11,Group E,International Stadium Yokohama,Yokohama,Saudi Arabia,0.00,3.00,"rn"">Republic of Ireland",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
null_df = joined_df3.loc[joined_df3['away_score'].isnull()]

null_df

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
Cte d'Ivoire on 2006-06-21,2006.00,2006-06-21,Group C,"FIFA World Cup Stadium, Munich",Munich,Cte d'Ivoire,3.00,2.00,"rn"">Serbia and Montenegro",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cte d'Ivoire on 2010-06-25,2010.00,2010-06-25,Group G,Mbombela Stadium,Nelspruit,Korea DPR,0.00,3.00,Cte d'Ivoire,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cte d'Ivoire on 2014-06-14,2014.00,2014-06-14,Group C,Arena Pernambuco,Recife,Cte d'Ivoire,2.00,1.00,Japan,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Draw: Argentina on 1998-06-30,1998.00,1998-06-30,Round of 16,Stade Geoffroy Guichard,Saint-Etienne,Argentina,2.00,2.00,England,Argentina win on penalties (4 - 3),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Draw: Brazil on 1986-06-21,1986.00,1986-06-21,Quarter-finals,Jalisco,Guadalajara,Brazil,1.00,1.00,France,France win on penalties (3 - 4),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia on 1998-06-14,1998.00,1998-06-14,Group F,Stade Geoffroy Guichard,Saint-Etienne,Yugoslavia,1.00,0.00,Iran,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yugoslavia on 1998-06-25,1998.00,1998-06-25,Group F,La Beaujoire,Nantes,USA,0.00,1.00,Yugoslavia,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Bosnia and Herzegovina on 2014-06-25",2014.00,2014-06-25,Group F,Arena Fonte Nova,Salvador,"rn"">Bosnia and Herzegovina",3.00,1.00,IR Iran,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Republic of Ireland on 1994-06-18",1994.00,1994-06-18,Group E,Giants Stadium,New York/New Jersey,Italy,0.00,1.00,"rn"">Republic of Ireland",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"rn"">Republic of Ireland on 2002-06-11",2002.00,2002-06-11,Group E,International Stadium Yokohama,Yokohama,Saudi Arabia,0.00,3.00,"rn"">Republic of Ireland",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
# null_df.drop(['Year','Datetime','Stage','Stadium','City','Home Team Name','Home Team Goals','Away Team Goals','Away Team Name',
#             'Win conditions','Attendance','Half-time Home Goals','Half-time Away Goals','Referee','Assistant 1','Assistant 2',
#             'RoundID','MatchID','Home Team Initials','Away Team Initials','Winning Team'], axis=1)

In [70]:
import_matches6.columns

Index(['year', 'country', 'city', 'stage', 'home_team', 'away_team',
       'home_score', 'away_score', 'outcome', 'win_conditions', 'winning_team',
       'losing_team', 'date', 'month', 'dayofweek'],
      dtype='object')

In [71]:
# def transform6_2(row):
#     match_team = row['Losing Team']
#     match_date = row['Datetime']
#     return f'{match_team} on {match_date}'

In [72]:
# Only keep the columns to import