In [1]:
# Add Matplotlib inline magic command
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file_dir='C://Users/Ian/Desktop/Misc_Projects/World_Cup_Analysis/Data'

import_matches_a = pd.read_csv(f'{file_dir}/wcmatches.csv')
import_matches_b = pd.read_csv(f'{file_dir}/WorldCupMatches.csv')
import_players = pd.read_csv(f'{file_dir}/WorldCupPlayers.csv')


pd.options.display.float_format = '{:.2f}'.format

In [3]:
import_matches_a.head(30)

,year,country,city,stage,home_team,away_team,home_score,away_score,outcome,win_conditions,winning_team,losing_team,date,month,dayofweek
0,1930,Uruguay,Montevideo,Group 1,France,Mexico,4,1,H,NaN,France,Mexico,1930-07-13,Jul,Sunday
1,1930,Uruguay,Montevideo,Group 4,Belgium,United States,0,3,A,NaN,United States,Belgium,1930-07-13,Jul,Sunday
2,1930,Uruguay,Montevideo,Group 2,Brazil,Yugoslavia,1,2,A,NaN,Yugoslavia,Brazil,1930-07-14,Jul,Monday
3,1930,Uruguay,Montevideo,Group 3,Peru,Romania,1,3,A,NaN,Romania,Peru,1930-07-14,Jul,Monday
4,1930,Uruguay,Montevideo,Group 1,Argentina,France,1,0,H,NaN,Argentina,France,1930-07-15,Jul,Tuesday
5,1930,Uruguay,Montevideo,Group 1,Chile,Mexico,3,0,H,NaN,Chile,Mexico,1930-07-16,Jul,Wednesday
6,1930,Uruguay,Montevideo,Group 2,Bolivia,Yugoslavia,0,4,A,NaN,Yugoslavia,Bolivia,1930-07-17,Jul,Thursday
7,1930,Uruguay,Montevideo,Group 4,Paraguay,United States,0,3,A,NaN,United States,Paraguay,1930-07-17,Jul,Thursday
8,1930,Uruguay,Montevideo,Group 3,Uruguay,Peru,1,0,H,NaN,Uruguay,Peru,1930-07-18,Jul,Friday
9,1930,Uruguay,Montevideo,Group 1,Argentina,Mexico,6,3,H,NaN,Argentina,Mexico,1930-07-19,Jul,Saturday
10,1930,Uruguay,Montevideo,Group 1,Chile,France,1,0,H,NaN,Chile,France,1930-07-19,Jul,Saturday
11,1930,Uruguay,Montevideo,Group 4,Belgium,Paraguay,0,1,A,NaN,Paraguay,Belgium,1930-07-20,Jul,Sunday
12,1930,Uruguay,Montevideo,Group 2,Bolivia,Brazil,0,4,A,NaN,Brazil,Bolivia,1930-07-20,Jul,Sunday
13,1930,Uruguay,Montevideo,Group 3,Uruguay,Romania,4,0,H,NaN,Uruguay,Romania,1930-07-21,Jul,Monday
14,1930,Uruguay,Montevideo,Group 1,Argentina,Chile,3,1,H,NaN,Argentina,Chile,1930-07-22,Jul,Tuesday
15,1930,Uruguay,Montevideo,Semifinals,Argentina,United States,6,1,H,NaN,Argentina,United States,1930-07-26,Jul,Saturday
16,1930,Uruguay,Montevideo,Semifinals,Uruguay,Yugoslavia,6,1,H,NaN,Uruguay,Yugoslavia,1930-07-27,Jul,Sunday
17,1930,Uruguay,Montevideo,Final,Uruguay,Argentina,4,2,H,NaN,Uruguay,Argentina,1930-07-30,Jul,Wednesday
18,1934,Italy,Bologna,Round of 16,Argentina,Sweden,2,3,A,NaN,Sweden,Argentina,1934-05-27,May,Sunday
19,1934,Italy,Turin,Round of 16,Austria,France,3,2,H,Austria won in AET,Austria,France,1934-05-27,May,Sunday
20,1934,Italy,Florence,Round of 16,Belgium,Germany,2,5,A,NaN,Germany,Belgium,1934-05-27,May,Sunday
21,1934,Italy,Genoa,Round of 16,Brazil,Spain,1,3,A,NaN,Spain,Brazil,1934-05-27,May,Sunday
22,1934,Italy,Trieste,Round of 16,Czechoslovakia,Romania,2,1,H,NaN,Czechoslovakia,Romania,1934-05-27,May,Sunday
23,1934,Italy,Naples,Round of 16,Egypt,Hungary,2,4,A,NaN,Hungary,Egypt,1934-05-27,May,Sunday
24,1934,Italy,Rome,Round of 16,Italy,United States,7,1,H,NaN,Italy,United States,1934-05-27,May,Sunday
25,1934,Italy,Milan,Round of 16,Netherlands,Switzerland,2,3,A,NaN,Switzerland,Netherlands,1934-05-27,May,Sunday
26,1934,Italy,Bologna,Quarterfinals,Austria,Hungary,2,1,H,NaN,Austria,Hungary,1934-05-31,May,Thursday
27,1934,Italy,Turin,Quarterfinals,Czechoslovakia,Switzerland,3,2,H,NaN,Czechoslovakia,Switzerland,1934-05-31,May,Thursday
28,1934,Italy,Milan,Quarterfinals,Germany,Sweden,2,1,H,NaN,Germany,Sweden,1934-05-31,May,Thursday
29,1934,Italy,Florence,Quarterfinals,Italy,Spain,1,1,D,NaN,NaN,NaN,1934-05-31,May,Thursday

In [4]:
import_matches_a.describe()

         year  home_score  away_score
count  900.00      900.00      900.00
mean  1986.92        1.57        1.26
std     23.15        1.49        1.31
min   1930.00        0.00        0.00
25%   1970.00        0.00        0.00
50%   1990.00        1.00        1.00
75%   2006.00        2.00        2.00
max   2018.00       10.00        8.00

In [5]:
import_matches_b.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.00,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,4444.00,3.00,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX
1,1930.00,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,18346.00,2.00,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL
2,1930.00,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,24059.00,2.00,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA
3,1930.00,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,2549.00,1.00,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER
4,1930.00,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,23409.00,0.00,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA

In [6]:
import_matches_b.tail()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import_matches_b.describe()

,Year,Home Team Goals,Away Team Goals,Attendance,Half-time Home Goals,Half-time Away Goals,RoundID,MatchID
count,852.00,852.00,852.00,850.00,852.00,852.00,852.00,852.00
mean,1985.09,1.81,1.02,45164.80,0.71,0.43,10661772.59,61346867.55
std,22.45,1.61,1.09,23485.25,0.94,0.69,27296131.70,111057171.67
min,1930.00,0.00,0.00,2000.00,0.00,0.00,201.00,25.00
25%,1970.00,1.00,0.00,30000.00,0.00,0.00,262.00,1188.75
50%,1990.00,2.00,1.00,41579.50,0.00,0.00,337.00,2191.00
75%,2002.00,3.00,2.00,61374.50,1.00,1.00,249722.00,43950059.25
max,2014.00,10.00,7.00,173850.00,6.00,5.00,97410600.00,300186515.00

In [8]:
import_matches_b = import_matches_b.dropna(how='all')

In [9]:
import_players.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN

In [10]:
import_matches_a.dtypes

year               int64
country           object
city              object
stage             object
home_team         object
away_team         object
home_score         int64
away_score         int64
outcome           object
win_conditions    object
winning_team      object
losing_team       object
date              object
month             object
dayofweek         object
dtype: object

In [11]:
import_matches_b.dtypes

Year                    float64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals         float64
Away Team Goals         float64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals    float64
Half-time Away Goals    float64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                 float64
MatchID                 float64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [12]:
# # Columns to import
# columns_to_keep = [etl_matches1['date'],
#                    etl_matches1['year'],
#                    etl_matches1['country'],
#                    etl_matches1['city'],
#                    etl_matches1['Stadium'],
#                    etl_matches1['Attendance'],
#                    etl_matches1['stage'],
#                    etl_matches1['home_team'],
#                    etl_matches1['Home Team Name'],
#                    etl_matches1['Home Team Initials'],
#                    etl_matches1['away_team'],
#                    etl_matches1['Away Team Initials'],
#                    etl_matches1['home_score'],
#                    etl_matches1['away_score'],
#                    etl_matches1['Half-time Home Goals'],
#                    etl_matches1['Half-time Away Goals'],
#                    etl_matches1['MatchID'],
#                    etl_matches1['RoundID']
# ]

# Transform dataframes so similar rows actually match

# 2nd step

In [13]:
import_matches_b1 = import_matches_b.copy()

In [14]:
# Find winning team in matches2 based on which team scored more goals
def winner(row):
    home_name = row['Home Team Name']
    if row['Home Team Goals']>row['Away Team Goals']:
        return row['Home Team Name']
    if row['Away Team Goals']>row['Home Team Goals']:
        return row['Away Team Name']
    return f'Draw: {home_name}'

In [15]:
# Apply the function to create a new column referencing each match winner
import_matches_b1['Winning Team'] = import_matches_b1.apply(lambda row: winner(row), axis=1)

In [16]:
# Verify with Italy/Spain index 28
import_matches_b1[27:29]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Winning Team
27,1934.00,31 May 1934 - 16:30,Quarter-finals,San Siro,Milan,Germany,2.00,1.00,Sweden,,...,0.00,0.00,BARLASSINA Rinaldo (ITA),MERCET Rene (SUI),VAN MOORSEL Johannes (NED),418.00,1129.00,GER,SWE,Germany
28,1934.00,31 May 1934 - 16:30,Quarter-finals,Giovanni Berta,Florence,Italy,1.00,1.00,Spain,,...,0.00,0.00,BAERT Louis (BEL),ZENISEK Bohumil (TCH),IVANCSICS Mihaly (HUN),418.00,1122.00,ITA,ESP,Draw: Italy

In [17]:
import_matches_b1['Datetime'] = pd.to_datetime(import_matches_b1['Datetime'])

In [18]:
# Alter the ['Datetime'] column in matches2 to match format of ['date'] in matches4
import_matches_b1['Datetime'] = import_matches_b1['Datetime'].dt.date

In [19]:
# Verify it matches import_matches_a['date']
import_matches_b1.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Winning Team
0,1930.00,1930-07-13,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,...,3.00,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX,France
1,1930.00,1930-07-13,Group 4,Parque Central,Montevideo,USA,3.00,0.00,Belgium,,...,2.00,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL,USA
2,1930.00,1930-07-14,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,...,2.00,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA,Yugoslavia
3,1930.00,1930-07-14,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,...,1.00,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER,Romania
4,1930.00,1930-07-15,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,...,0.00,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA,Argentina

In [20]:
new_names_home = {'Germany FR':'West Germany',
            'Korea Republic':'South Korea',
            'USA':'United States',
            'rn">United Arab Emirates':'United Arab Emirates', 
            "C�te d'Ivoire":"Cote d'Ivoire", 
            'rn">Serbia and Montenegro':'Serbia', 
            'rn">Bosnia and Herzegovina':'Bosnia and Herzegovina', 
            'IR Iran':'Iran', 
            'German DR':'East Germany', 
            'Korea DPR':'North Korea',
            'rn">Republic of Ireland':'Republic of Ireland',
            'rn">Trinidad and Tobago':'Trinidad and Tobago',
            'Dutch East Indies':'Dutch West Indies'}

new_names_away = {'Germany FR':'West Germany',
            'Korea Republic':'South Korea',
            'USA':'United States',
            'rn">United Arab Emirates':'United Arab Emirates', 
            "C�te d'Ivoire":"Cote d'Ivoire", 
            'rn">Serbia and Montenegro':'Serbia', 
            'rn">Bosnia and Herzegovina':'Bosnia and Herzegovina', 
            'IR Iran':'Iran', 
            'German DR':'East Germany', 
            'Korea DPR':'North Korea',
            'rn">Republic of Ireland':'Republic of Ireland',
            'Yugoslavia':'FR Yugoslavia',
            'rn">Trinidad and Tobago':'Trinidad and Tobago',
            'Dutch East Indies':'Dutch West Indies'}

In [21]:
import_matches_b2 = import_matches_b1.replace({'Home Team Name':new_names_home})
import_matches_b2 = import_matches_b2.replace({'Away Team Name':new_names_away})

In [22]:
import_matches_b2

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Winning Team
0,1930.00,1930-07-13,Group 1,Pocitos,Montevideo,France,4.00,1.00,Mexico,,...,3.00,0.00,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.00,1096.00,FRA,MEX,France
1,1930.00,1930-07-13,Group 4,Parque Central,Montevideo,United States,3.00,0.00,Belgium,,...,2.00,0.00,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.00,1090.00,USA,BEL,USA
2,1930.00,1930-07-14,Group 2,Parque Central,Montevideo,Yugoslavia,2.00,1.00,Brazil,,...,2.00,0.00,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.00,1093.00,YUG,BRA,Yugoslavia
3,1930.00,1930-07-14,Group 3,Pocitos,Montevideo,Romania,3.00,1.00,Peru,,...,1.00,0.00,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.00,1098.00,ROU,PER,Romania
4,1930.00,1930-07-15,Group 1,Parque Central,Montevideo,Argentina,1.00,0.00,France,,...,0.00,0.00,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.00,1085.00,ARG,FRA,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,2014.00,2014-07-05,Quarter-finals,Arena Fonte Nova,Salvador,Netherlands,0.00,0.00,Costa Rica,Netherlands win on penalties (4 - 3),...,0.00,0.00,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255953.00,300186488.00,NED,CRC,Draw: Netherlands
848,2014.00,2014-07-08,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1.00,7.00,Germany,,...,0.00,5.00,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955.00,300186474.00,BRA,GER,Germany
849,2014.00,2014-07-09,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0.00,0.00,Argentina,Argentina win on penalties (2 - 4),...,0.00,0.00,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955.00,300186490.00,NED,ARG,Draw: Netherlands
850,2014.00,2014-07-12,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0.00,3.00,Netherlands,,...,0.00,2.00,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957.00,300186502.00,BRA,NED,Netherlands
851,2014.00,2014-07-13,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.00,0.00,Argentina,Germany win after extra time,...,0.00,0.00,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.00,300186501.00,GER,ARG,Germany

# Export to Postgres to join the tables

In [23]:
import_matches_a.to_csv('Data/import_matches_a.csv')
import_matches_b2.to_csv('Data/import_matches_b.csv')

In [24]:
# Print dtypes to create schema in Postgres
import_matches_a.dtypes

year               int64
country           object
city              object
stage             object
home_team         object
away_team         object
home_score         int64
away_score         int64
outcome           object
win_conditions    object
winning_team      object
losing_team       object
date              object
month             object
dayofweek         object
dtype: object

In [25]:
# Print dtypes to create schema in Postgres
import_matches_b2.dtypes

Year                    float64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals         float64
Away Team Goals         float64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals    float64
Half-time Away Goals    float64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                 float64
MatchID                 float64
Home Team Initials       object
Away Team Initials       object
Winning Team             object
dtype: object